:root {
	--color-alabaster: #FBFBFB;
	--color-athens-gray: #E8E9EC;
	--color-atomic-blue: #0087B9;

	--color-blue-chill: #127697;
	--color-bon-jour: #e2dddd;
	--color-breaker-bay: #5DA894;

	--color-carrot-orange: #EE8A2C;
	--color-chathams-blue: #105B7A;
	--color-coral-blue: #1595BA;

	--color-dove-gray: #707070;

	--color-eastern-blue: #1595BA;
	--color-egg-white: #FFF2C3;

	--color-gallery: #EDEDED;
	--color-gray-chateau: #A6ADB4;

	--color-indigo: #597ECA;

	--color-light-blue: #E6F3F7;

	--color-medium-red-violet: #C33980;

	--color-olivine: #A2B86D;
	--color-orange-roughy: #D74D1E;

	--color-plum: #853174;

	--color-ronchi: #EDC846;

	--color-sapphire: #2C4DAA;
	--color-shark: #202124;
	--color-silver: #BFBFBF;
	--color-silver-in-rgb: 191, 191, 191;
	--color-sunset-orange: #FF4D4D;

	--color-tango: #EF681E;
	--color-tarawera: #0D3D54;
	--color-thunderbird: #BF2E1F;
	--color-tulip-tree: #EAAC3D;
	--color-tundora: #4d4d4d;

	--color-wild-sand: #F5F5F5;

	--color-cerulean: #00AEEF;
	--color-cerulean-in-rgb: 0, 174, 289;

	--box-shadow: 0 3px 6px rgba(0,0,0,0.16);

	--border-grey: #EDEDED;
	--background-grey: #F5F5F5;

	--yellow: #EDC846;
	--yellowInRGB: 237, 200, 70;

	--orange: #EF681E;
	--orangeInRGB: 239, 139, 30;

	--blue: #1595BA;
	--blueInRGB: 21, 149, 186;

	--lato-family: "Lato";
	--roboto-family: "Roboto";
	--navbar-height: 60px;
	--subHeader-height: 30px;
	--drill-up-icon-width: 18px;
}